.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.searchBar input {
  padding: 0.5rem;
  width: 250px;
  border: 2px solid #ff6f61;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchBar button {
  padding: 0.61rem 1rem;
  font-weight: bold;
  border-radius: 0 4px 4px 0;
}